@import '@/styles/variables';

.brand {

  &__container {
    display: inline-block;
    padding-top: 320px;
    position: relative;
    width: 100%;
  }

  &__wrapper {
    max-width: 1610px;
    padding: 0 0 490px 21px;
    position: relative;
    width: 100%;

    @media screen and (min-width: 375px) {
      padding: 0 0 360px 21px;
    }

    @media screen and (min-width: 768px) {
      padding: 0 0 90px 21px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 auto;
      padding: 0 90px 390px;
    }
  }

  &__obj1 {
    position: absolute;
    right: 60px;
    top: -49px;

    @media screen and (min-width: 1200px) {
      left: 90px;
      position: absolute;
      right: initial;
      top: -99px;
    }
  }
  &__obj2--mobile {
    height: 317px;
    margin-top: 53px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    svg {
      position: absolute;
      right: -157px;
      top: 0;
    }
  }
  &__obj2--desktop {
    display: none;
    left: -300px;
    position: absolute;
    top: 190px;
    z-index: 1;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__obj3 {
    display: flex;
    height: 62px;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 100px;
    width: 100%;
    z-index: 4;

    @media screen and (min-width: 1200px) {
      margin-top: 278px;
      margin-right: 170px;
    }
  }
  &__obj4 {
    display: none;
    position: absolute;
    right: 230px;
    top: 71px;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__titles {

    @media screen and (min-width: 1200px) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    align-items: flex-end;
    border-left: 6px solid $colorGray;
    color: $colorGray;
    display: flex;
    font-size: 33px;
    font-weight: 500;
    height: 104px;
    margin-left: 40px;
    padding-left: 16px;

    @media screen and (min-width: 1200px) {
      margin-left: 0px;
    }
  }

  &__subtitle {
    color: $colorBlack;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 57px;
    margin-top: 21px;
    padding-left: 21px;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 90px;
      margin-bottom: 51px;
      margin-top: 23px;
      padding-left: 0px;
      text-align: center;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }

    &__image {
      background-color: $colorWhite;
      display: flex;
      height: 288px;
      justify-content: flex-end;
      width: 100%;

      @media screen and (min-width: 1200px) {
        height: 606px;
        justify-content: start;
        width: 624px;
        z-index: 2;
      }
    }
    &__texts {
      height: 767px;
      left: 16px;
      overflow: hidden;
      position: absolute;
      top: 31px;
      width: 60%;
      z-index: 3;

      &.active {
        height: auto;
        overflow: visible;
      }

      @media screen and (min-width: 1200px) {
        height: 630px;
        left: 510px;
        overflow: hidden;
        top: 92px;
        width: 781px;

        &.active {
          height: auto;
        }
      }

      &__title {
        color: $colorGray;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;

        @media screen and (min-width: 1200px) {
          font-size: 48px;
          font-weight: 300;
          line-height: 57px;
        }
      }
      &__text {
        color: $colorGray;
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        margin-top: 38px;

        @media screen and (min-width: 1200px) {
          font-size: 48px;
          font-weight: 300;
          line-height: 57px;
          margin-top: 58px;
        }
      }
    }
  }
  &__sapo-mobile {
    margin-right: 32px;
    margin-top: 19px;
    width: 73px;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }
  &__sapo-desktop {
    display: none;
    margin-left: 122px;
    width: 256px;

    @media screen and (min-width: 1200px) {
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      margin-top: 180px;
    }

    &__a {
      background-color: $colorGreenDark;
      color: $colorWhite;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 18px;
      padding: 10px 15px;
      position: relative;
      text-decoration: none;
      width: 177px;

      @media screen and (min-width: 1200px) {
        margin-right: 50px;
      }

      &::after {
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 48px solid $colorGreenDark;
        content: "";
        height: 0;
        position: absolute;
        right: -24px;
        top: 0;
        width: 0;
      }
    }
    &__a--diffent {
      background-color: $colorGreenLight;
      color: $colorWhite;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 18px;
      padding: 10px 15px;
      position: relative;
      text-decoration: none;
      width: 244px;

      &::after {
        border-bottom: 48px solid $colorGreenLight;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        right: -24px;
        top: 0;
        width: 0;
      }

      @media screen and (min-width: 1200px) {
        &::before {
          border-bottom: 48px solid $colorGreenLight;
          border-left: 24px solid transparent;
          border-right: 24px solid transparent;
          content: "";
          height: 0;
          left: -24px;
          position: absolute;
          top: 0;
          width: 0;
        }
        &::after {
          border-bottom: initial;
          border-top: 48px solid $colorGreenLight;
        }
      }
    }
  }
  &__barra {
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 100%;

    img {
      width: 100%;
    }   
  }
  &__toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

body {
  &.blue {
    .brand__obj1,
    .brand__obj2--mobile,
    .brand__obj2--desktop,
    .brand__obj4 {
      
      svg,
      path,
      circle,
      rect {
        stroke: $colorBlue;
      }
    }
    .brand__obj3 {
      svg,
      path,
      circle,
      rect {
        fill: $colorBlue;
      }
    }
    .brand {
      &__content__texts {
        &__title,
        &__text {
          &::selection {
            background-color: $colorBlue;            
            color: $colorWhite;
          }
        }
      }
    }
  }
  &.green {
    .brand__obj1,
    .brand__obj2--mobile,
    .brand__obj2--desktop,
    .brand__obj4 {
      
      svg,
      path,
      circle,
      rect {
        stroke: $colorGreen;
      }
    }

    .brand__obj3 {
      svg,
      path,
      circle,
      rect {
        fill: $colorGreen;
      }
    }
    .brand {
      &__content__texts {
        &__title,
        &__text {
          &::selection {
            background-color: $colorGreen;            
            color: $colorWhite;
          }
        }
      }
    }
  }
  &.orange {
    .brand__obj1,
    .brand__obj2--mobile,
    .brand__obj2--desktop,
    .brand__obj4 {
      
      svg,
      path,
      circle,
      rect {
        stroke: $colorOrange;
      }
    }
    .brand__obj3 {
      svg,
      path,
      circle,
      rect {
        fill: $colorOrange;
      }
    }
    .brand {
      &__content__texts {
        &__title,
        &__text {
          &::selection {
            background-color: $colorOrange;            
            color: $colorWhite;
          }
        }
      }
    }
  }
}