$background-application: #E5E5E5;

$colorGray: #666666;
$colorGrayLight: #E5E5E5;
$colorGrayMedium: #CCCCCC;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorBlue: #3399CC;
$colorGreen: #33CC99;
$colorGreenDark: #5B8F22;
$colorGreenLight: #7AB800;
$colorGreenUltraDark: #69A618;
$colorOrange: #FF9933;
$colorRed: #d11717;